{% extends "base_generic.html" %} {% block content %} {% load static %}
<body>
  <div id="vue-app">
    <div id="website-login-pane">
      <div class="website-login-alert" v-if="this.$store.state.userToken">
        <p>
          Hello
          <innerText>[[userEmail]]</innerText>
          ! You are logged in and can customize Sweatlog to your liking.
        </p><innerText></innerText>[[userToken]]</innerText>
        <div class="close-banner-alert">&times;</div>
      </div>
      <p
        v-if="!this.$store.state.userToken"
        @click="this.$store.commit('toggleLoginScreen')"
        class="website-login-alert"
      >
        Sweatlog is better when you make it yours. Click here to create an
        account or login now.
      </p>
    </div>

    <div id="main-content" v-bind:style="{height: contentHeight}">
      {% csrf_token %}
      <loginorcreateuser
        v-if="this.$store.state.showLoginScreen"
      ></loginorcreateuser>
      <agenda v-if="page == 'agenda'"></agenda>
      <workouts v-else-if="page == 'workouts'"></workouts>
      <blocks v-else-if="page == 'blocks'"></blocks>
      <exercises v-else-if="page == 'exercises'"></exercises>
      <other v-else-if="page == 'other'"></other>
    </div>
    <div id="website-footer">
      <div id="footer-content">
        <footertoolbar :menuitems="menuitems"></footertoolbar>
      </div>
    </div>
    <div id="user-token" data-token="{{user_token}}"></div>
  </div>
</body>
<script type="module">
  //   const staticDir = "{% static vue_app %}";
  import { Agenda } from "{% static 'vue_app/components/agenda.js' %}";
  import { Workouts } from "{% static 'vue_app/components/workouts.js' %}";
  import { Blocks } from "{% static 'vue_app/components/blocks.js' %}";
  import { Exercises } from "{% static 'vue_app/components/exercises.js' %}";
  import { Other } from "{% static 'vue_app/components/other.js' %}";
  import { FooterToolbar } from "{% static 'vue_app/components/footertoolbar.js' %}";
  import { LoginOrCreateUser } from "{% static 'vue_app/components/loginorcreateuser.js' %}";
  let { createApp } = Vue; // import multiple things from Vue

  const myApp = createApp({
    delimiters: ["[[", "]]"], //default of brackets collides with Django syntax
    components: {
      agenda: Agenda,
      workouts: Workouts,
      blocks: Blocks,
      exercises: Exercises,
      other: Other,
      footertoolbar: FooterToolbar,
      loginorcreateuser: LoginOrCreateUser,
    },
    data() {
      return {
        menuitems: [
          { id: 1, name: "Agenda", page: "agenda" },
          { id: 2, name: "Workouts", page: "workouts" },
          { id: 3, name: "Blocks", page: "blocks" },
          { id: 4, name: "Exercises", page: "exercises" },
          { id: 5, name: "Other", page: "other" },
        ],
      };
    },
    methods: {},
    computed: {
      page() {
        if (!this.$store.state.showLoginScreen) {
          return this.$store.state.currentPage;
        }
      },
      userEmail() {
        return this.$store.state.userEmail;
      },
      userToken() {
        return this.$store.state.userToken;
      },
    },
    created() {
      this.$store.commit("updateCsrfToken", { data: getCookie("csrftoken") });
      this.$store.dispatch("fetchExerciseTypes");
      this.$store.dispatch("fetchEquipmentTypes");
      this.$store.dispatch("getUserEmail", {
        data: this.$store.state.userToken,
      });
    },
  });

  let { createStore } = Vuex;

  const store = createStore({
    state() {
      return {
        currentPage: "exercises",
        priorPage: "",
        sessions: null,
        workoutTemplates: null,
        exercises: null,
        exerciseTypes: null,
        equipmentTypes: null,
        csrfToken: "",
        addingExerciseWindow: false,
        exerciseSearchWindow: false,
        exerciseDetailWindow: false,
        exerciseInfoDisplay: true,
        exerciseEditDisplay: false,
        selectedExercise: "",
        userToken: "",
        userEmail: "",
        showLoginScreen: false,
        statusMessage: "",
        statusLevel: "", // eg. success, info, error
      };
    },
    mutations: {
      navigate(state, payload) {
        state.currentPage = payload.page;
      },
      toggleLoginScreen(state) {
        state.showLoginScreen = !state.showLoginScreen;
      },
      toggleAddingExerciseWindow(state) {
        state.addingExerciseWindow = !state.addingExerciseWindow;
      },
      toggleExerciseSearchWindow(state) {
        state.exerciseSearchWindow = !state.exerciseSearchWindow;
      },
      toggleExerciseDetailWindow(state) {
        state.exerciseDetailWindow = !state.exerciseDetailWindow;
      },
      toggleExerciseEditDisplay(state) {
        state.exerciseEditDisplay = !state.exerciseEditDisplay;
      },
      turnoffExerciseEditDisplay(state) {
        state.exerciseEditDisplay = false;
      },
      selectExercise(state, payload) {
        state.selectedExercise = payload.exercise;
      },
      updateSessions(state, payload) {
        state.sessions = payload.data;
      },
      updateWorkoutTemplates(state, payload) {
        state.workoutTemplates = payload.data;
      },
      updateExercises(state, payload) {
        state.exercises = payload.data;
      },
      updateExerciseTypes(state, payload) {
        state.exerciseTypes = payload.data;
      },
      updateEquipmentTypes(state, payload) {
        state.equipmentTypes = payload.data;
      },
      // combine below to "update page load data"
      updateCsrfToken(state, payload) {
        state.csrfToken = payload.data;
      },
      updateUserToken(state, payload) {
        state.userToken = payload.token;
      },
      updateUserEmail(state, payload) {
        state.userEmail = payload.email;
      },
      updateMessageData(state, payload) {
        state.statusMessage = payload.message;
        let level = ""
        if (payload.code < 300) {
          level = "success"
        } else if (payload.code >=400) {
          level = "error"
        }
        else {
          level = "info"
        }
        state.statusLevel = level
      }
    },
    // actions gets context that includes state and a commit object
    // could also pass a payload
    actions: {
      async fetchSessions(context) {
        const response = await getJSONFetch("/webapp/get_scheduled_sessions", {
          user_token: context.state.userToken,
        });
        let payload = { data: response.scheduled_sessions };
        context.commit("updateSessions", payload);
      },
      async fetchWorkoutTemplates(context) {
        const response = await getJSONFetch(
          "/webapp/get_all_workout_templates",
          { user_token: context.state.userToken }
        );
        let payload = { data: response.all_workout_templates };
        context.commit("updateWorkoutTemplates", payload);
      },
      async fetchExercises(context) {
        const response = await getJSONFetch("/webapp/exercises", {
          user_token: context.state.userToken,
        });
        let payload = { data: response.all_exercises };
        context.commit("updateExercises", payload);
      },
      async fetchExerciseTypes(context) {
        const response = await getJSONFetch("/webapp/exercisetypes/", {
          user_token: context.state.userToken,
        });
        let payload = { data: response.all_exercise_types };
        context.commit("updateExerciseTypes", payload);
      },
      async createNewExerciseType(context, payload) {
        const response = await postJSONFetch(
          "/webapp/exercisetypes/",
          payload.body,
          context.state.csrfToken
        );
        store.dispatch("fetchExerciseTypes");
      },
      async editExerciseType(context, payload) {
        const response = await putJSONFetch(
          "/webapp/exercisetypes/" + payload.id + "/",
          payload.body,
          context.state.csrfToken
        );
        store.dispatch("fetchExerciseTypes");
      },
      async deleteExerciseType(context, payload) {
        const response = await deleteJSONFetch(
          "/webapp/exercisetypes/" + payload.id + "/",
          { user_token: context.state.userToken },
          context.state.csrfToken
        );
        store.dispatch("fetchExerciseTypes");
      },
      async fetchEquipmentTypes(context) {
        const response = await getJSONFetch("/webapp/equipmenttypes", {
          user_token: context.state.userToken,
        });
        let payload = { data: response.all_equipment_types };
        context.commit("updateEquipmentTypes", payload);
      },
      async createNewExercise(context, payload) {
        const response = await postJSONFetch(
          "/webapp/exercises/",
          payload.body,
          context.state.csrfToken
        );
        context.commit("toggleAddingExerciseWindow");
        store.dispatch("fetchExercises");
      },
      async deleteExercise(context, payload) {
        const response = await deleteJSONFetch(
          "/webapp/exercises/" + payload.id + "/",
          { user_token: context.state.userToken },
          context.state.csrfToken
        );
        context.commit("toggleExerciseDetailWindow");
        store.dispatch("fetchExercises");
      },
      async editExercise(context, payload) {
        const response = await putJSONFetch(
          "/webapp/exercises/" + payload.id + "/",
          payload.body,
          context.state.csrfToken
        );
        context.commit("toggleExerciseDetailWindow");
        context.commit("toggleExerciseEditDisplay");
        store.dispatch("fetchExercises");
      },
      // create diff responses to handle success or failure!
      async createNewUser(context, payload) {
        const response = await postJSONFetch(
          "/webapp/users/",
          payload.body,
          context.state.csrfToken
        );
        context.commit("updateUserToken", { token: response.token });
        context.commit("toggleLoginScreen");
      },
      async loginUser(context, payload) {
        const response = await postJSONFetch(
          "/webapp/users/login/",
          payload.body,
          context.state.csrfToken
        );
        console.log(response)
        
        // handling message right next to where we handle the data - immediately
        // INTERNAL ERROR - 500 - server could stick message in response - hybrid approach
        let message = ""
        if (response._status == 200) {
          message = "login success"
        } else if (response._status == 404 || response.status == 403) {
          message = "login unsuccessful"
        } else {
          message = "an error occurred - please try again"
        }
        context.commit("updateMessageData", {message, code: response._status})


        if (response._status == 200) {
          context.commit("updateUserToken", {token: response.token});
          context.commit("updateUserEmail", { email: response.email });
          context.commit("toggleLoginScreen")}
      },
      async logoutUser(context) {
        const response = await postJSONFetch(
          "/webapp/users/logout/",
          {},
          context.state.csrfToken
        );
        context.commit("updateUserToken", {
          token: response.token,
        });
        context.commit("updateUserEmail", { email: "" });
        context.commit("toggleLoginScreen");
      },
      async getUserEmail(context, payload) {
        const response = await postJSONFetch(
          "/webapp/users/get_user_email/",
          payload.body,
          context.state.csrfToken
        );
        context.commit("updateUserEmail", { email: response.email });
      },
    },
  });
  myApp.use(store);

  // make sure token is ready before app is mounted
  const token = document.getElementById("user-token").dataset.token;
  store.commit("updateUserToken", { token });

  myApp.mount("#vue-app");
</script>
<style>
  #vue-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #website-login-pane {
    background-color: rgb(221, 210, 47);
    height: 4vh;
    text-align: center;
  }

  #website-login-pane p {
    font-size: 9pt;
  }

  .close-banner-alert {
    font-size: 22px;
    padding: 5px;
  }

  .website-login-alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  #main-content {
    height: 82vh;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
  }

  #website-footer {
    position: relative;
    background-color: green;
    height: 7vh;
    bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  #footer-content {
    height: 100%;
  }
</style>
{% endblock %}
