/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

/* .workouts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

.workout-summarized,
.workout-detailed {
  border: 1px solid lightgray;
  background-color: lightgray;
  padding: 5px;
  width: 90%;
  margin: 5px;
  border-radius: 4px;
}

.workout-name,
.block-name {
  font-weight: bold;
}

.workout-detailed-block {
  background-color: rgb(230, 230, 230);
  margin: 5px;
  padding: 5px;
}

.block-title-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.block-rounds {
  font-style: italic;
  margin-left: 8px;
  font-size: 80%;
}

.workout-detailed-exercise {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.workout-detailed-exercise > p {
  padding: 5px;
  margin: 3px;
}

.footer-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-item {
  padding: 5px;
  height: 50%;
  color: white;
  font-size: 14pt;
}

.menu-item:hover {
  cursor: pointer;
}

.selected-menu-item {
  color: rgb(221, 210, 47);
}

table {
  table-layout: fixed;
  width: 100%;
}

.exercise-name {
  width: 40vw;
}

.exercise-sets-reps,
.exercise-weight,
.exercise-time {
  width: 15vw;
}

.exercise-sets-reps p,
.exercise-weight p {
  text-align: center;
  padding: 1.5px;
  border-radius: 8px;
  background-color: hsl(56, 72%, 85%);
}

.exercise-time p {
  text-align: center;
  padding: 1.5px;
  border-radius: 8px;
  background-color: rgb(192, 236, 192);
}

.exercise-line td {
  margin: 1px;
  padding: 2px;
}

#agenda-page,
#workout-page,
#exercises-page,
#blocks-page,
#login-page,
#other-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-top-options {
  width: 90%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-top-option {
  font-size: 10pt;
  width: 25vw;
  height: 4vh;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
}

.page-top-option:hover {
  cursor: pointer;
}

.agenda-item {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-radius: 4px;
  color: darkgray;
}

.agenda-date-header {
  padding: 5px;
  width: 90%;
  text-align: left;
  border-bottom: solid 1px darkgray;
}

.agenda-workout,
.agenda-no-workout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.agenda-item-icon {
  padding-right: 10px;
  width: 20px;
}

.agenda-plus {
  color: green;
  font-weight: bold;
  font-size: 16pt;
}

.water-drop-svg {
  fill: #ddd22f;
  font-size: 16pt;
}

.agenda-workout {
  padding: 5px;
  /* font-weight: bold; */
  color: black;
}

.agenda-no-workout {
  padding: 5px;
  color: darkgray;
  font: 75%;
}

.today-date-agenda-item {
  background-color: hsl(56, 72%, 85%);
}

#exercise-list,
#block-list,
#workout-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  padding: 10px;
}

.exercise-list-line,
.block-list-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  font-size: 14pt;
}

#create-exercise-exercise-types,
#create-exercise-equipment-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#create-exercise-exercise-types p,
#create-exercise-equipment-types p {
  font-size: 10pt;
  padding: 3px;
}

.selected-option {
  background-color: hsl(56, 72%, 85%);
}

.full-page-box {
  position: absolute;
  width: 100%;
  height: 86vh;
  background-color: white;
  padding: 10px;
}

.close-full-page-box {
  margin-left: auto;
  color: darkgray;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  left: 50%;
  top: 20vh;
  transform: translate(-50%);
  max-width: 800px;
  overflow: hidden;
  padding: 5vw;
  width: 90vw;
  border: 2px solid lightgray;
  border-radius: 8px;
  background-color: white;
  font-size: 12pt;
}

.modal-title {
  color: gray;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#create-exercise-box input,
#exercise-info-modal input,
input {
  padding: 5px;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  height: 30px;
  border: none;
  color: rgb(133, 133, 133);
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

#login-page input {
  margin: 5px;
  width: 200px;
}

#create-exercise-box label,
#exercise-info-modal label {
  color: gray;
  margin-bottom: 5px;
}

.modal-overlay {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(80%);
}

.invisible {
  display: none;
}

#create-exercise-box.invisible,
#exercise-info-modal.invisible,
.modal-overlay.invisible {
  display: none;
}

.close {
  margin-left: auto;
  color: darkgray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#add-exercise-button,
#open-edit-exercise-button,
#delete-exercise-button,
#edit-exercise-button,
button {
  background-color: rgb(221, 210, 47);
  box-shadow: 1px 1px 2px rgba(221, 210, 47, 0.5);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  font-weight: bold;
  border: none;
  margin: 10px;
}

#login-page-buttons button {
  background-color: gray;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  font-weight: bold;
  border: none;
  margin: 10px;
  width: 125px;
}

#open-edit-exercise-button,
#delete-exercise-button {
  width: 100px;
}

#modal-bottom-buttons,
#login-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.form-cluster {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.exercise-info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  color: rgb(133, 133, 133);
  border-top: 0.5px solid lightgray;
}

.info-data {
  font-weight: bold;
  text-align: right;
  margin-left: 10px;
}

select {
  border: none;
  color: rgb(133, 133, 133);
  border-radius: 4px;
  background-color: rgb(233, 233, 233);
  padding: 5px;
  height: 30px;
  font-size: 12pt;
}

#exercise-type-list {
  display: flex;
  flex-direction: column;
}

.exercise-type-list-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.et-inline-modify-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.et-inline-modify-buttons p {
  margin-left: 10px;
}

#login-header {
  padding: 10px;
  margin: 5px;
}

.login-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-message {
  text-align: center;
}

.drop-zone {
  padding: 10px;
}

.exercise-row {
  padding: 5px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 60px;
}

.exercise-stats-row {
  padding: 5px;
  border: 1px solid lightgray;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.exercise-stats-row input {
  background-color: white;
}

.input-sets {
  width: 15%;
}

.input-reps,
.input-weight {
  width: 23%;
}

.input-time {
  width: 30%;
}

.draggable-item {
  width: 90%;
}

.draghandle-svg {
  fill: #c7c6b7;
}

.checkmark-svg {
  fill: green;
  padding: 2px;
}

.checkmark-icon {
  height: 20px;
  width: 20px;
}

.draggable-handle-icon {
  height: 15px;
  cursor: grab;
  padding: 2px;
  margin-left: 5px;
}

.draggable-delete-icon,
.draggable-extra-input-icon,
.stat-delete-icon {
  cursor: pointer;
  color: #c7c6b7;
  padding: 2px;
  font-weight: bold;
  margin-left: 5px;
}

.stat-populated {
  color: green;
}

#other-page-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* (B) DRAG-AND-DROP HINT */
.block-exercise-item.hint {
  background: yellow;
}
.block-exercise-item.active {
  background: red;
}
